#map {
    height: 90vh;
    width: 100wh;
   
}

body {
    overflow: hidden;
}

.lobby{
    display: flex;
    margin-top: 3em;
    justify-content: flex-end;
    align-content: bottom;
   
}

.lobby-card{
    border: 10px red !important
}

#leftChatColumn {
    display: flex;
    flex-direction: column;
}